.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2.4%;
    width: 100%;
    height: 20.4%;
    background-color: var(--card-color);
    background-size: cover;
    z-index: -1;
    transform-origin: center;
    transform: rotate(-3.6deg);
}

