
@font-face {
    font-family: 'Inter';
    src: url('assets/images/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  }
  
  :root {
    --primary-color: #35B8BE;
    --background-color: #F5FBFC;
    --text-color: #546285;
    --card-color: #FFF;
    --busket-color: #36B8BE;
    --shadow-color: #7E828F45;
    --navigation-color: #28224B;
    --phone_number-color: #555;
    --button_border-color: #61728333;
    --button_text-color: #222;
    --card_border-color: rgba(53, 184, 190, 0.15);
    --card_title-color: #08090A;
    --count-background-color: #DDD;
    --count_text-color: #000;
    --licence_text-color: #353448;
    --button_secondary-color: rgba(0, 0, 0, 0.1);
  }
  
  body {
    background-color: var(--background-color);
    margin: 0;
    font-family: "Inter";
    color: var(--text-color);
    font-size: 1vw;
  }
  
  .container__position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .container__items {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  h1, h6, p, ul {
    margin: 0;
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  h1 {
    color: var(--primary-color);
    font-family: "Inter";
    font-size: 3.2vw;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.1vw;
  }
  
  .logo__heading {
    font-weight: 400;
    font-size: 106%;
    line-height: 240%;
  }
  
  @media screen and (max-width: 768px) {
    body {
      font-size: 2.4vw;
    }
  
    h1 {
      font-size: 6vw;
    }
  
    .logo__heading {
      font-size: 1.6vw;
    }
  }