.menu-container {
    position: relative;
    z-index: 1;
    padding: 6% 0;
  }
  
  .header-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
    
  .header-container  p {
    margin: 6% auto 10%;
    line-height: 27px;
    letter-spacing: 0.4px;
  }
  
  .phone-heading {
    position: relative;
    color: var(--primary-color);
    display: inline-block;
    cursor: help;
  }
  
  .phone-heading .tooltiptext {
    visibility: hidden;
    width: 8vw;
    background-color: var(--phone_number-color);
    color: var(--card-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    right: -88%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .phone-heading:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
    
  .button-block {
    width: 100%;
  }
  
  .button-block button {
    width: 30%;
    height: 6.8vh;
  } 
    
  .menu-cards {
    width: 80vw;
    height: 62%;
    margin-top: 6%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr); 
    row-gap: 22px;
  }
  
  .see-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .see-more button {
    padding: 1.6%;
    width: 12%;
    display: flex;
    justify-content: center;
    margin-top: 6%;
  }
    
  @media screen and (max-width: 768px) {
    .menu-container {
      padding: 20% 0;
    }
  
    .button-block button {
      font-size: 2.6vw;
    } 
  
    .see-more button {
      font-size: 2vw;
      width: 16%;
    }
  
    .header-container {
      width: 70vw;
    }
  
    .menu-cards {
      grid-template-columns: repeat(1, 1fr);
      height: 60%;
    }
    
  }
    
    