.header {
    height: 13.8vh;
    background-color: var(--card-color);
}

.logoImage {
    height: 100%;
}

.headerContainer {
    height: 60%;
}
 
.navigationList {
    font-weight: 400;
    line-height: 1.4vw;
    color: var(--navigation-color);
    display: flex;
    flex-direction: row;
}

.listItem:not(:last-child) {
    margin-right: 2.4vw;
}

.listItem:nth-child(2) {
    color: var(--primary-color);
}

.headerNavigation {
    height: 100%;
    width: 39%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .header {
        height: 8vh;
    }

    .headerContainer {
        height: 60%;
    }

    .headerNavigation {
        width: 66%;
    }

    .navigationBusket {
        width: 18%;
    }
}